<% include ../partials/header %>
<div class="container">
    <div class="row"> 
    <h1 style="text-align:center">Edit <%=campgroundInfo.name%></h1>
    <div style="margin: 25px auto; width:30%;"> 
    <form action="/campgrounds/<%=campgroundInfo._id%>?_method=PUT" method="POST">
        <div class="form-group">  
        <input class="form-control" type="text"  name="campground[name]" value="<%=campgroundInfo.name%>">
        </div>
        <div class="form-group">
        <input class="form-control" type="number" value="<%=campgroundInfo.price%>" name="campground[price]" min="0.01" step="0.01">
        </div>
        <div class="form-group">
        <input class="form-control" type="text"  name="campground[image]" value="<%=campgroundInfo.image%>">
        </div>
        <div class="form-group">
        <input class="form-control" type="text"  name="campground[description]" value="<%=campgroundInfo.description%>">
        </div>
        <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block">Submit!!</button>
        </div>
        
      </form>
      <a href="/campgrounds">Go back!!</a>
      </div>
    </div>
      
      
</div>

</div>
<% include ../partials/footer %>